<?xml version="1.0" encoding="UTF-8"?><exp:Export xmlns:exp="http://www.layer7tech.com/ws/policy/export" xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" Version="3.0">
    <exp:References>
        <IncludedPolicyReference RefType="com.l7tech.console.policy.exporter.IncludedPolicyReference" guid="ffb4bcf8-db6c-40be-aecf-10511c96e67e" included="true" name="imm_FY15_Fragment" soap="false" type="INCLUDE_FRAGMENT">
            <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
                <wsp:All wsp:Usage="Required">
                    <L7p:AuditDetailAssertion>
                        <L7p:Detail stringValue="Policy Fragment: imm_FY15_Fragment"/>
                    </L7p:AuditDetailAssertion>
                    <L7p:AuditDetailAssertion>
                        <L7p:Detail stringValue="テストフラグメント"/>
                        <L7p:Level stringValue="WARNING"/>
                    </L7p:AuditDetailAssertion>
                </wsp:All>
            </wsp:Policy>
        </IncludedPolicyReference>
    </exp:References>
    <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
        <wsp:All wsp:Usage="Required">
            <L7p:Include>
                <L7p:PolicyGuid stringValue="ffb4bcf8-db6c-40be-aecf-10511c96e67e"/>
            </L7p:Include>
            <L7p:HttpRoutingAssertion>
                <L7p:ProtectedServiceUrl stringValue="http://192.168.2.100:6060/ACMEWarehouse/product"/>
                <L7p:ProxyPassword stringValueNull="null"/>
                <L7p:ProxyUsername stringValueNull="null"/>
                <L7p:RequestHeaderRules httpPassthroughRuleSet="included">
                    <L7p:Rules httpPassthroughRules="included">
                        <L7p:item httpPassthroughRule="included">
                            <L7p:Name stringValue="Cookie"/>
                        </L7p:item>
                        <L7p:item httpPassthroughRule="included">
                            <L7p:Name stringValue="SOAPAction"/>
                        </L7p:item>
                    </L7p:Rules>
                </L7p:RequestHeaderRules>
                <L7p:RequestParamRules httpPassthroughRuleSet="included">
                    <L7p:ForwardAll booleanValue="true"/>
                    <L7p:Rules httpPassthroughRules="included"/>
                </L7p:RequestParamRules>
                <L7p:ResponseHeaderRules httpPassthroughRuleSet="included">
                    <L7p:Rules httpPassthroughRules="included">
                        <L7p:item httpPassthroughRule="included">
                            <L7p:Name stringValue="Set-Cookie"/>
                        </L7p:item>
                    </L7p:Rules>
                </L7p:ResponseHeaderRules>
            </L7p:HttpRoutingAssertion>
        </wsp:All>
    </wsp:Policy>
</exp:Export>
