<?xml version="1.0" encoding="UTF-8"?><exp:Export xmlns:exp="http://www.layer7tech.com/ws/policy/export" xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" Version="3.0">
    <exp:References/>
    <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
        <wsp:All wsp:Usage="Required">
            <L7p:CommentAssertion>
                <L7p:Comment stringValue="This policy can be found and should be used as 'Encapsulated Assertion'!"/>
            </L7p:CommentAssertion>
            <L7p:Split>
                <L7p:InputVariable stringValue="scope.granted"/>
                <L7p:OutputVariable stringValue="scopeGranted"/>
                <L7p:SplitPattern stringValue="[ ]"/>
            </L7p:Split>
            <L7p:Split>
                <L7p:InputVariable stringValue="scope.required"/>
                <L7p:OutputVariable stringValue="scopeRequired"/>
                <L7p:SplitPattern stringValue="[ ]"/>
            </L7p:Split>
            <wsp:OneOrMore wsp:Usage="Required">
                <L7p:ComparisonAssertion>
                    <L7p:Expression1 stringValue="${scope.required}"/>
                    <L7p:Expression2 stringValue=""/>
                    <L7p:Operator operator="EMPTY"/>
                    <L7p:Predicates predicates="included">
                        <L7p:item binary="included">
                            <L7p:Operator operator="EMPTY"/>
                            <L7p:RightValue stringValue=""/>
                        </L7p:item>
                    </L7p:Predicates>
                </L7p:ComparisonAssertion>
                <L7p:ForEachLoop L7p:Usage="Required" iterationLimit="100" loopVariable="scopeRequired" variablePrefix="verifyScope">
                    <wsp:OneOrMore wsp:Usage="Required">
                        <wsp:All wsp:Usage="Required">
                            <L7p:ComparisonAssertion>
                                <L7p:Expression1 stringValue="${scopeGranted}"/>
                                <L7p:Expression2 stringValue="${verifyScope.current}"/>
                                <L7p:MultivaluedComparison multivaluedComparison="ANY"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:RightValue stringValue="${verifyScope.current}"/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                            <L7p:ComparisonAssertion>
                                <L7p:CaseSensitive booleanValue="false"/>
                                <L7p:Expression1 stringValue="${fail}"/>
                                <L7p:Expression2 stringValue="false"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:RightValue stringValue="false"/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                        </wsp:All>
                        <wsp:All wsp:Usage="Required">
                            <L7p:ComparisonAssertion>
                                <L7p:Expression1 stringValue="${scopeGranted}"/>
                                <L7p:Expression2 stringValue="${verifyScope.current}"/>
                                <L7p:MultivaluedComparison multivaluedComparison="ANY"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:RightValue stringValue="${verifyScope.current}"/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                            <L7p:ComparisonAssertion>
                                <L7p:CaseSensitive booleanValue="false"/>
                                <L7p:Expression1 stringValue="${fail}"/>
                                <L7p:Expression2 stringValue="true"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:RightValue stringValue="true"/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                            <L7p:FalseAssertion/>
                        </wsp:All>
                        <wsp:All wsp:Usage="Required">
                            <L7p:ComparisonAssertion>
                                <L7p:Expression1 stringValue="${scopeGranted}"/>
                                <L7p:Expression2 stringValue="${verifyScope.current}"/>
                                <L7p:MultivaluedComparison multivaluedComparison="ANY"/>
                                <L7p:Negate booleanValue="true"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:Negated booleanValue="true"/>
                                    <L7p:RightValue stringValue="${verifyScope.current}"/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                            <L7p:ComparisonAssertion>
                                <L7p:CaseSensitive booleanValue="false"/>
                                <L7p:Expression1 stringValue="${fail}"/>
                                <L7p:Expression2 stringValue="true"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:RightValue stringValue="true"/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                        </wsp:All>
                    </wsp:OneOrMore>
                </L7p:ForEachLoop>
            </wsp:OneOrMore>
        </wsp:All>
    </wsp:Policy>
</exp:Export>
