<?xml version="1.0" encoding="UTF-8"?><exp:Export xmlns:exp="http://www.layer7tech.com/ws/policy/export" xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy" Version="3.0">
    <exp:References/>
    <wsp:Policy xmlns:L7p="http://www.layer7tech.com/ws/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2002/12/policy">
        <wsp:All wsp:Usage="Required">
            <L7p:CommentAssertion>
                <L7p:Comment stringValue="This policy can be found and should be used as 'Encapsulated Assertion'!"/>
            </L7p:CommentAssertion>
            <L7p:CommentAssertion>
                <L7p:Comment stringValue="=== Allow the auth-header OR parameters but NOT both if both are used"/>
            </L7p:CommentAssertion>
            <L7p:SetVariable>
                <L7p:Base64Expression stringValue=""/>
                <L7p:VariableToSet stringValue="auth_scheme"/>
            </L7p:SetVariable>
            <L7p:SetVariable>
                <L7p:Base64Expression stringValue="ZmFsc2U="/>
                <L7p:VariableToSet stringValue="hasError"/>
            </L7p:SetVariable>
            <wsp:OneOrMore wsp:Usage="Required">
                <wsp:All wsp:Usage="Required">
                    <L7p:ComparisonAssertion>
                        <L7p:Expression1 stringValue="${allow_query}"/>
                        <L7p:Expression2 stringValue="true"/>
                        <L7p:Predicates predicates="included">
                            <L7p:item binary="included">
                                <L7p:RightValue stringValue="true"/>
                            </L7p:item>
                        </L7p:Predicates>
                    </L7p:ComparisonAssertion>
                    <L7p:ComparisonAssertion>
                        <L7p:Expression1 stringValue="${auth_header}"/>
                        <L7p:Expression2 stringValue=""/>
                        <L7p:Operator operator="EMPTY"/>
                        <L7p:Predicates predicates="included">
                            <L7p:item binary="included">
                                <L7p:Operator operator="EMPTY"/>
                                <L7p:RightValue stringValue=""/>
                            </L7p:item>
                        </L7p:Predicates>
                    </L7p:ComparisonAssertion>
                    <L7p:ComparisonAssertion>
                        <L7p:CaseSensitive booleanValue="false"/>
                        <L7p:Expression1 stringValue="${auth_param_token}"/>
                        <L7p:MultivaluedComparison multivaluedComparison="FAIL"/>
                        <L7p:Operator operatorNull="null"/>
                        <L7p:Predicates predicates="included">
                            <L7p:item dataType="included">
                                <L7p:Type variableDataType="string"/>
                            </L7p:item>
                            <L7p:item binary="included">
                                <L7p:Negated booleanValue="true"/>
                                <L7p:Operator operator="EMPTY"/>
                                <L7p:RightValue stringValue=""/>
                            </L7p:item>
                        </L7p:Predicates>
                    </L7p:ComparisonAssertion>
                    <L7p:SetVariable>
                        <L7p:Base64Expression stringValue="QmVhcmVy"/>
                        <L7p:VariableToSet stringValue="auth_scheme"/>
                    </L7p:SetVariable>
                    <L7p:SetVariable>
                        <L7p:Base64Expression stringValue="JHthdXRoX3BhcmFtX3Rva2VufQ=="/>
                        <L7p:VariableToSet stringValue="access_token"/>
                    </L7p:SetVariable>
                    <L7p:assertionComment>
                        <L7p:Properties mapValue="included">
                            <L7p:entry>
                                <L7p:key stringValue="LEFT.COMMENT"/>
                                <L7p:value stringValue="LOCATE AS PARAMETER"/>
                            </L7p:entry>
                        </L7p:Properties>
                    </L7p:assertionComment>
                </wsp:All>
                <wsp:All wsp:Usage="Required">
                    <L7p:ComparisonAssertion>
                        <L7p:Expression1 stringValue="${allow_header}"/>
                        <L7p:Expression2 stringValue="true"/>
                        <L7p:Predicates predicates="included">
                            <L7p:item binary="included">
                                <L7p:RightValue stringValue="true"/>
                            </L7p:item>
                        </L7p:Predicates>
                    </L7p:ComparisonAssertion>
                    <L7p:ComparisonAssertion>
                        <L7p:Expression1 stringValue="${auth_param_token}"/>
                        <L7p:Expression2 stringValue=""/>
                        <L7p:Operator operator="EMPTY"/>
                        <L7p:Predicates predicates="included">
                            <L7p:item binary="included">
                                <L7p:Operator operator="EMPTY"/>
                                <L7p:RightValue stringValue=""/>
                            </L7p:item>
                        </L7p:Predicates>
                    </L7p:ComparisonAssertion>
                    <L7p:Regex>
                        <L7p:AutoTarget booleanValue="false"/>
                        <L7p:CaptureVar stringValue="schema_token"/>
                        <L7p:OtherTargetMessageVariable stringValue="auth_header"/>
                        <L7p:Regex stringValue="^\b([Bb][Ee][Aa][Rr][Ee][Rr]|MAC)\b\s(.{1,256})$"/>
                        <L7p:Replacement stringValue=""/>
                        <L7p:Target target="OTHER"/>
                    </L7p:Regex>
                    <L7p:SetVariable>
                        <L7p:Base64Expression stringValue="JHtzY2hlbWFfdG9rZW5bMV19"/>
                        <L7p:VariableToSet stringValue="auth_scheme"/>
                    </L7p:SetVariable>
                    <L7p:SetVariable>
                        <L7p:AssertionComment assertionComment="included">
                            <L7p:Properties mapValue="included">
                                <L7p:entry>
                                    <L7p:key stringValue="RIGHT.COMMENT"/>
                                    <L7p:value stringValue="for MAC this will contain MAC values, not the access_token"/>
                                </L7p:entry>
                            </L7p:Properties>
                        </L7p:AssertionComment>
                        <L7p:Base64Expression stringValue="JHtzY2hlbWFfdG9rZW5bMl19"/>
                        <L7p:VariableToSet stringValue="access_token"/>
                    </L7p:SetVariable>
                    <L7p:assertionComment>
                        <L7p:Properties mapValue="included">
                            <L7p:entry>
                                <L7p:key stringValue="LEFT.COMMENT"/>
                                <L7p:value stringValue="LOCATE IN HEADER"/>
                            </L7p:entry>
                        </L7p:Properties>
                    </L7p:assertionComment>
                </wsp:All>
                <wsp:All wsp:Usage="Required">
                    <L7p:ComparisonAssertion>
                        <L7p:CaseSensitive booleanValue="false"/>
                        <L7p:Expression1 stringValue="${given_access_token}"/>
                        <L7p:Expression2 stringValue="true"/>
                        <L7p:Negate booleanValue="true"/>
                        <L7p:Operator operator="EMPTY"/>
                        <L7p:Predicates predicates="included">
                            <L7p:item binary="included">
                                <L7p:CaseSensitive booleanValue="false"/>
                                <L7p:Negated booleanValue="true"/>
                                <L7p:Operator operator="EMPTY"/>
                                <L7p:RightValue stringValue="true"/>
                            </L7p:item>
                        </L7p:Predicates>
                    </L7p:ComparisonAssertion>
                    <L7p:SetVariable>
                        <L7p:Base64Expression stringValue="JHtnaXZlbl9hY2Nlc3NfdG9rZW59"/>
                        <L7p:VariableToSet stringValue="access_token"/>
                    </L7p:SetVariable>
                    <L7p:SetVariable>
                        <L7p:Base64Expression stringValue="QmVhcmVy"/>
                        <L7p:VariableToSet stringValue="auth_scheme"/>
                    </L7p:SetVariable>
                    <L7p:assertionComment>
                        <L7p:Properties mapValue="included">
                            <L7p:entry>
                                <L7p:key stringValue="LEFT.COMMENT"/>
                                <L7p:value stringValue="USE GIVEN PARAMETER"/>
                            </L7p:entry>
                        </L7p:Properties>
                    </L7p:assertionComment>
                </wsp:All>
                <wsp:OneOrMore wsp:Usage="Required">
                    <wsp:All wsp:Usage="Required">
                        <L7p:ComparisonAssertion>
                            <L7p:Expression1 stringValue="${auth_header}"/>
                            <L7p:Expression2 stringValue=""/>
                            <L7p:Operator operator="EMPTY"/>
                            <L7p:Predicates predicates="included">
                                <L7p:item binary="included">
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue=""/>
                                </L7p:item>
                            </L7p:Predicates>
                        </L7p:ComparisonAssertion>
                        <L7p:ComparisonAssertion>
                            <L7p:Expression1 stringValue="${auth_param_token}"/>
                            <L7p:Expression2 stringValue=""/>
                            <L7p:Operator operator="EMPTY"/>
                            <L7p:Predicates predicates="included">
                                <L7p:item binary="included">
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue=""/>
                                </L7p:item>
                            </L7p:Predicates>
                        </L7p:ComparisonAssertion>
                        <L7p:ComparisonAssertion>
                            <L7p:CaseSensitive booleanValue="false"/>
                            <L7p:Expression1 stringValue="${given_access_token}"/>
                            <L7p:Expression2 stringValue="true"/>
                            <L7p:Operator operator="EMPTY"/>
                            <L7p:Predicates predicates="included">
                                <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue="true"/>
                                </L7p:item>
                            </L7p:Predicates>
                        </L7p:ComparisonAssertion>
                        <L7p:SetVariable>
                            <L7p:Base64Expression stringValue="dHJ1ZQ=="/>
                            <L7p:VariableToSet stringValue="hasError"/>
                        </L7p:SetVariable>
                        <wsp:OneOrMore wsp:Usage="Required">
                            <wsp:All wsp:Usage="Required">
                                <L7p:ComparisonAssertion>
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:Expression1 stringValue="${auth_scheme}"/>
                                    <L7p:Expression2 stringValue=""/>
                                    <L7p:Negate booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:Negated booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue=""/>
                                    </L7p:item>
                                    </L7p:Predicates>
                                </L7p:ComparisonAssertion>
                                <L7p:CustomizeErrorResponse>
                                    <L7p:Content stringValueReference="inline"><![CDATA[{
                "error":"invalid_request",
                "error_description":"Missing token"
                }]]></L7p:Content>
                                    <L7p:ContentType stringValue="application/json"/>
                                    <L7p:ExtraHeaders nameValuePairArray="included">
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Pragma"/>
                                    <L7p:Value stringValue="no-cache"/>
                                    </L7p:item>
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Cache-Control"/>
                                    <L7p:Value stringValue="no-store"/>
                                    </L7p:item>
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="WWW-Authenticate"/>
                                    <L7p:Value stringValue="${auth_scheme} error=&quot;Missing token&quot;"/>
                                    </L7p:item>
                                    </L7p:ExtraHeaders>
                                    <L7p:HttpStatus stringValue="401"/>
                                </L7p:CustomizeErrorResponse>
                            </wsp:All>
                            <L7p:CustomizeErrorResponse>
                                <L7p:Content stringValueReference="inline"><![CDATA[{
                "error":"invalid_request",
                "error_description":"Missing token"
                }]]></L7p:Content>
                                <L7p:ContentType stringValue="application/json"/>
                                <L7p:ExtraHeaders nameValuePairArray="included">
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Pragma"/>
                                    <L7p:Value stringValue="no-cache"/>
                                    </L7p:item>
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Cache-Control"/>
                                    <L7p:Value stringValue="no-store"/>
                                    </L7p:item>
                                </L7p:ExtraHeaders>
                                <L7p:HttpStatus stringValue="401"/>
                            </L7p:CustomizeErrorResponse>
                            <L7p:assertionComment>
                                <L7p:Properties mapValue="included">
                                    <L7p:entry>
                                    <L7p:key stringValue="RIGHT.COMMENT"/>
                                    <L7p:value stringValue="Add WWW-Authenticate header"/>
                                    </L7p:entry>
                                </L7p:Properties>
                            </L7p:assertionComment>
                        </wsp:OneOrMore>
                        <L7p:FalseAssertion/>
                    </wsp:All>
                    <wsp:All wsp:Usage="Required">
                        <L7p:ComparisonAssertion>
                            <L7p:CaseSensitive booleanValue="false"/>
                            <L7p:Expression1 stringValue="${hasError}"/>
                            <L7p:Expression2 stringValue="false"/>
                            <L7p:Predicates predicates="included">
                                <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:RightValue stringValue="false"/>
                                </L7p:item>
                            </L7p:Predicates>
                        </L7p:ComparisonAssertion>
                        <wsp:All wsp:Usage="Required">
                            <L7p:ComparisonAssertion>
                                <L7p:Expression1 stringValue="${auth_header}"/>
                                <L7p:Expression2 stringValue=""/>
                                <L7p:Negate booleanValue="true"/>
                                <L7p:Operator operator="EMPTY"/>
                                <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:Negated booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue=""/>
                                    </L7p:item>
                                </L7p:Predicates>
                            </L7p:ComparisonAssertion>
                            <L7p:Regex>
                                <L7p:AutoTarget booleanValue="false"/>
                                <L7p:OtherTargetMessageVariable stringValue="auth_header"/>
                                <L7p:Regex stringValue="^\b([Bb][Ee][Aa][Rr][Ee][Rr]|MAC)\b\s"/>
                                <L7p:Replacement stringValue=""/>
                                <L7p:Target target="OTHER"/>
                            </L7p:Regex>
                        </wsp:All>
                        <L7p:ComparisonAssertion>
                            <L7p:Expression1 stringValue="${auth_param_token}"/>
                            <L7p:Expression2 stringValue=""/>
                            <L7p:Negate booleanValue="true"/>
                            <L7p:Operator operator="EMPTY"/>
                            <L7p:Predicates predicates="included">
                                <L7p:item binary="included">
                                    <L7p:Negated booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue=""/>
                                </L7p:item>
                            </L7p:Predicates>
                        </L7p:ComparisonAssertion>
                        <L7p:ComparisonAssertion>
                            <L7p:CaseSensitive booleanValue="false"/>
                            <L7p:Expression1 stringValue="${given_access_token}"/>
                            <L7p:Expression2 stringValue="true"/>
                            <L7p:Negate booleanValue="true"/>
                            <L7p:Operator operator="EMPTY"/>
                            <L7p:Predicates predicates="included">
                                <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:Negated booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue="true"/>
                                </L7p:item>
                            </L7p:Predicates>
                        </L7p:ComparisonAssertion>
                        <wsp:OneOrMore wsp:Usage="Required">
                            <wsp:All wsp:Usage="Required">
                                <L7p:ComparisonAssertion>
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:Expression1 stringValue="${auth_scheme}"/>
                                    <L7p:Expression2 stringValue=""/>
                                    <L7p:Negate booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:Predicates predicates="included">
                                    <L7p:item binary="included">
                                    <L7p:CaseSensitive booleanValue="false"/>
                                    <L7p:Negated booleanValue="true"/>
                                    <L7p:Operator operator="EMPTY"/>
                                    <L7p:RightValue stringValue=""/>
                                    </L7p:item>
                                    </L7p:Predicates>
                                </L7p:ComparisonAssertion>
                                <L7p:CustomizeErrorResponse>
                                    <L7p:Content stringValueReference="inline"><![CDATA[{
                "error":"invalid_request",
                "error_description":"Duplicate token"
                }]]></L7p:Content>
                                    <L7p:ContentType stringValue="application/json"/>
                                    <L7p:ExtraHeaders nameValuePairArray="included">
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Pragma"/>
                                    <L7p:Value stringValue="no-cache"/>
                                    </L7p:item>
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Cache-Control"/>
                                    <L7p:Value stringValue="no-store"/>
                                    </L7p:item>
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="WWW-Authenticate"/>
                                    <L7p:Value stringValue="${auth_scheme} error=&quot;Duplicate token&quot;"/>
                                    </L7p:item>
                                    </L7p:ExtraHeaders>
                                    <L7p:HttpStatus stringValue="401"/>
                                </L7p:CustomizeErrorResponse>
                            </wsp:All>
                            <L7p:CustomizeErrorResponse>
                                <L7p:Content stringValueReference="inline"><![CDATA[{
                "error":"invalid_request",
                "error_description":"Duplicate token"
                }]]></L7p:Content>
                                <L7p:ContentType stringValue="application/json"/>
                                <L7p:ExtraHeaders nameValuePairArray="included">
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Pragma"/>
                                    <L7p:Value stringValue="no-cache"/>
                                    </L7p:item>
                                    <L7p:item nameValuePair="included">
                                    <L7p:Key stringValue="Cache-Control"/>
                                    <L7p:Value stringValue="no-store"/>
                                    </L7p:item>
                                </L7p:ExtraHeaders>
                                <L7p:HttpStatus stringValue="401"/>
                            </L7p:CustomizeErrorResponse>
                            <L7p:assertionComment>
                                <L7p:Properties mapValue="included">
                                    <L7p:entry>
                                    <L7p:key stringValue="RIGHT.COMMENT"/>
                                    <L7p:value stringValue="Add WWW-Authenticate header"/>
                                    </L7p:entry>
                                </L7p:Properties>
                            </L7p:assertionComment>
                        </wsp:OneOrMore>
                        <L7p:FalseAssertion/>
                        <L7p:assertionComment>
                            <L7p:Properties mapValue="included">
                                <L7p:entry>
                                    <L7p:key stringValue="LEFT.COMMENT"/>
                                    <L7p:value stringValue="MULTIPLE ACCESS_TOKEN"/>
                                </L7p:entry>
                            </L7p:Properties>
                        </L7p:assertionComment>
                    </wsp:All>
                    <L7p:assertionComment>
                        <L7p:Properties mapValue="included">
                            <L7p:entry>
                                <L7p:key stringValue="LEFT.COMMENT"/>
                                <L7p:value stringValue="MISSING TOKEN"/>
                            </L7p:entry>
                        </L7p:Properties>
                    </L7p:assertionComment>
                </wsp:OneOrMore>
            </wsp:OneOrMore>
        </wsp:All>
    </wsp:Policy>
</exp:Export>
